
<header class="site-header">


    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">
      <img
        src="assets/img/foxIcon1.png"
        alt="Visual Portfolio Logo"
        height="28"
        class="me-2"
      />
      VISUAL PORTFOLIO
    </a>

    <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <!-- Mobile menu -->
  <div class="mobile-menu bg-pink text-center" *ngIf="isMenuOpen">
    <ul class="navbar-nav py-3">

      <li class="nav-item px-3 mb-3">
        <input
          type="text"
          class="form-control search-bar"
          placeholder="Search"
        />
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" (click)="closeMenu()">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guide" (click)="closeMenu()">Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" (click)="closeMenu()">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="closeMenu()">Log out</a>
      </li>

    </ul>
  </div>
</header>
