## backend .gitignore ##

# Environment
.env
.env.extra

# Dependencies
node_modules/

# Uploaded files
uploads/

# Logs
*.log

# hardcoded scripts (don't exist YET)
scripts/seed-production.js
scripts/*.secret.js