/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Color Palette */
:root {
    --dark-brown: #382C29;
    --cream: #FFF5E3;
    --pink: #F5A3AD;
    --blue: #5D81BC;
    --navy: #01223B;
}

/* Ribbon*/
.ribbon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--navy);
	border-bottom: 4px solid var(--pink);
}

.page {
    font-size: 20px;
    font-weight: bold;
	color: white;
	margin-right: 20px;
}

.btn-primary{
	background-color: #382C29;
	border: 2px solid #01223B;
}

.btn-custom{
	width: 40px;
}

/*Item Menu*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: lightgrey;
}

.container {
	display: grid;
	grid-template-columns: 250px 1fr; /* Sidebar width is 250px, content takes the rest */
	grid-template-rows: 1fr auto; /* Content takes the remaining space */
	height: 100%;
	float: left;
	width: 100vw;
}

.sidebar {
	background-color: var(--navy);
	padding: 20px;
	color: white;
	border-right: 4px solid var(--pink);
}

.content {
	background-color: lightgray;
	padding: 20px;
}

/*Document*/
.document{
	width: 700px;
	height: 1100px;
	background-color: white;
	padding-left: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 70px;
	float: right;
}

#wrapper{
	margin-top: 50px;
	width: 80%;
}

table{
	border-collapse: collapse;
	width: 200px;
}

td{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
	height: 100px;
}



