<div class="createItem-wrapper">
  <!-- FORM toggle open-->
  <form [formGroup]="form" (ngSubmit)="save()" class="compact-form">

    <div class="form-grid">

      <div class="form-group">
        <label>Title</label>

        <input class="form-control" formControlName="itemTitle" />
      </div>

      <div class="form-group">
        <label>Category</label>
        <input class="form-control" formControlName="category" />
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" formControlName="itemDate" />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="userEmail" />
      </div>

    </div>

    <!-- FULL WIDTH -->
    <div class="form-group full-width">
      <label>Description</label>
      <textarea rows="2" class="form-control" formControlName="itemDescription"></textarea>
    </div>

    <div class="form-actions">
      <button type="submit"
              class="btn btn-success"
              [disabled]="form.invalid || isSubmitting">
        {{ isSubmitting ? 'Submitting...' : 'Save' }}
      </button>
    </div>
  </form>
</div>