<section class="panel">

  <!-- ITEMS LIST -->
  <div class="items-container" *ngIf="items.length > 0">

    <div class="item-row" *ngFor="let item of paginatedItems">

      <div class="item-info">
        <div class="item-title">{{ item.itemTitle }}</div>

        <div class="item-meta">
          <span class="chip">{{ item.category || 'No category' }}</span>
          <span>{{ item.itemDate | itemDate }}</span>
        </div>
      </div>


    </div>

  </div>

  <!-- PAGINATION -->
  <div class="pagination" *ngIf="totalPages > 1">

    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1">
      ◀
    </button>

    <span>Page {{ currentPage }} of {{ totalPages }}</span>

    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages">
      ▶
    </button>

  </div>

</section>