<!-- Hero Section -->
<div class="home-wrapper">

    <section class="hero-split">
      <div class="hero-left">
        <h1 class="hero-title">
<span class="typing-line line-1">
<span class="typing-wrap">
<span class="typing">An <em>easier</em> way to</span>
</span>
</span>
          <br />
          <span class="typing-line line-2">
<span class="typing-wrap">
<span class="typing">manage your work.</span>
</span>
</span>
        </h1>

        <p class="hero-subtitle">
          Create a single, structured record of your academic and professional
          work then reuse it wherever it’s needed.
        </p>

        <div class="hero-actions">
          <button class="cta-primary" (click)="navigate('/dashboard')">
            Get Started
          </button>
        </div>
      </div>

      <div class="hero-right">
        <div class="login-card">
          <h3>Sign in</h3>

          <form>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="you@example.com"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="••••••••"
              />
            </div>

            <button class="login-btn" type="button">
              Log in
            </button>
            
          </form>
        </div>
      </div>
    </section>

</div>

