<!-- frontend/src/app/components/document/document.component.html -->

<div class="document-wrapper">
  <div class="document-grid">
    <div class="document-header">
      <h1 class="document-title">Resume Builder</h1>
    </div>
    
    <div class="container-fluid" style="position:relative;">
      <div class="row justify-content-center py-4">
        <div class="builder-wrapper">
          <div class="form-builder">
            <app-form-builder
              [existingData]="existingFormData"
              [initialMode]="initialMode">
            </app-form-builder>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>