<section class="hero-split container">
  <div class="hero-left">
    <h1 class="hero-title">
      <span>An <em>easier</em> way to</span><br>
      <span>manage your work.</span>
    </h1>

    <p class="hero-subtitle">
      Create a single, structured record of your academic and professional work then reuse it wherever it’s needed.
    </p>

    <div class="hero-actions">
      <button class="cta-primary" routerLink="/signup">Get Started</button>
    </div>
  </div>

  <div class="hero-right">
    <app-login-inline></app-login-inline>
  </div>
</section>
