<div class="dashboard-wrapper">

  <main class="hero">

    <section class="hero-split container">

      <!-- LEFT SIDE -->
      <div class="hero-left">

        <h1 class="hero-title">

          <span class="typing-line line-1">
            <span class="typing-wrap">
              <span class="typing">
                An <em>easier</em> way to
              </span>
            </span>
          </span>

          <br>

          <span class="typing-line line-2">
            <span class="typing-wrap">
              <span class="typing">
                manage your work.
              </span>
            </span>
          </span>

        </h1>

        <p class="hero-subtitle">
          Create a single, structured record of your academic and professional
          work then reuse it wherever it’s needed.
        </p>

        <!-- ACTIONS -->
        <div class="hero-actions">
          <button class="cta-primary" routerLink="/signup">Get Started</button>
        </div>

      </div>

      <!-- RIGHT SIDE -->
      <div class="hero-right">
        <app-login-inline></app-login-inline>
      </div>

    </section>

  </main>

</div>
