<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Portfolio</title>
    <link rel="stylesheet" href="interfaceSettings.css">
</head>
<body>

    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="left-navbar">
            <button class="hamburger-navbar-btn">
                <img class="hamburger-icon"src="Icons/hamburger.svg">
            </button>
            <div class="logo-navbar">
                <p class="logo ">Visual Portfolio</p>
            </div>
        </div>
        <div class="middle-navbar">
        </div>
        <div class="right-navbar">
            <button class="addpage-navbar-btn">
                <img class="addpage-icon" src="Icons/addpage.svg">
            </button>
            <button class="onetwopageview-navbar-btn">
                <img class="onetwopage-icon" src="Icons/onetwopageview.svg">
            </button>
            <button class="guide-navbar-btn">
                <img class="guide-icon" src="Icons/guide.svg">
            </button>
            <div class="userprofile-navbar">
                <img class="profilepicture-icon" src="profilepicture/profilepicture.jpg">
                </div>
        </div>

    </div>

    <!-- Hero Section 
    <header class="hero">
        <h1>Work Smarter, Feel Effortless</h1>
        <p>Simplify Document Management with the Visual Portfolio App.</p>
        <button class="cta-button">Sign up for free</button>
    </header>
-->
    <!-- Document Management Section -->
    <div class="toolbar">
        <button>Print</button>
        <button>Single</button>
        <button>Export</button>
        <button>Side By Side</button>
        <button>Select Text</button>

    </div>
    <div class="main-page">
        <ul class="sidebar">
            <li class="sidebar-object-Header"><p>Most Used &#11088;</p></li>
            <li class="sidebar-object"><a href ="#CV">CV</a></li>
            <li class="sidebar-object"><a href ="#ResumeTemplate">Resume Template</a></li>
            <li class="sidebar-object"><a href ="#Accolades">Accolades</a></li>
            <li class="sidebar-object"><a href ="#Certifications">Certification Badges</a></li>
            <li class="sidebar-object"><a href ="#CoverLetter">Cover Letter</a></li>
            <li class="sidebar-object-upload"><a href ="#UploadNewFile">&#x2191 New File</a></li>
        </ul>    
    
        
        <div class="document-list">
            <div class="document">
                <img src="img/resume1.png" alt="Resume Preview">
                <p>Old_Resume_JohnDoe</p>
            </div>
            <div class="document">
                <img src="img/resume2.png" alt="Resume Preview">
                <p>Final_Resume_John_Doe</p>
            </div>
        </div>
         
        
    </div>

</body>
</html>
