


/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

/* Color Palette */
:root {
  --dark-brown: #382c29;
  --cream: #fff5e3;
  --pink: #f5a3ad;
  --blue: #5d81bc;
  --navy: #01223b;
  --padding-no-padding: 0;
  --margin-no-margin: 0;
  --VPOrange: #f4a460;
  --light-purple: #c8a2c8;
}

body {
  background-color:var(--navy); /* Light blue-gray */
  color: #2C3E50; /* Dark blue-gray for text */
  font-family: 'Calibri', sans-serif;
}


